#wrap {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

table {
  border-collapse: collapse;
  width: fit-content;
  margin: 30px auto;
}

th,
td {
  border: 1px solid #686868;
  padding: 2px 5px;
}

button {
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-check-data {
  border: 1px solid #000;
  min-height: 100px;
  width: 400px;
  padding: 10px;
  margin: 10px auto;
}
